  li{

    color: red;
    width: 500px;
    border: 1px solid black;
}  

  p, li, h1{
    color: red;
}  

 #meu-id {
    background-color: red;
} 

 .minha-class {
    background-color: darkgrey;
} 

 .fundo-vermelho {
    background-color: red;
    color: black;
} 
/* crio o "fundo-Vermelho" e na linha de baixo deu uma nova funcionalidade para ele a funcionalidade "hover" aonde troca a cor quando passa o mouse*/
.fundo-vermelho:hover {
    background-color: black;
    color: red;
}

html {
    font-size: 13px;
    font-family: "comforter-brush-regular" sans-serif;
    background-color: rgb(128, 127, 129);

}

h1 {
    font-size: 40px;
    text-align: center;
    text-shadow: 3px 3px 1px rgb(153, 4, 4); 
    /* text-shadow = sobreado */
}

p,li, h1{
    font-size: 16px;
    line-height: 1;
    letter-spacing: 1px;
   color: black;
   padding: 3px;
   margin: 3px;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: yellow;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

img {
    display: block;
    margin: 0 auto;
}